body{
  width: 100%;
  margin: auto;
}
a{
  text-decoration: none;
}
li
{
  list-style: none;
  float: left;
  margin-left: 15px;
  padding-top: 15px;
}
.nav
{
  float: right;
}
.header
{
  background: grey;
  width: 100%;
  top: 0;
  position: fixed;
  }
.logo
  {
    float: left;
  font-family:cursive;
  font-size: 15px;
  }
.container
{
  width: 960px;
  margin: 0 auto;

}
.content
{
background: url(../img/backwaters.jpeg) no-repeat;

}
p{
  text-align: center;
  padding: 80px;
  font-size: 25px;
  color: black;
}
.primary
{
  text-align: center;
  font-family: cursive;
}
.col_12
{
  height: 70px;
  bottom: 0px;
  width:100%;
  background-color: grey;
}
